*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	background-color: #fff;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	font-family: 'Arial', sans-serif;
	height: 100%;
}
h1{
	font-size: 22px;
	font-weight: bold;
	color: #113848;
	text-transform: uppercase;
}
h2{
	font-size: 20px;
	font-weight: bold;
	color: #404040;
	text-transform: uppercase;
}
h3{
	font-size: 16px;
	font-weight: normal;
	color: #404040;
	text-transform: uppercase;
}
p{
	font-size: 13px;
	color: #505050;
	line-height: 20px;
}
a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	color: #f67f19;
}
#wrap{
	width: 820px;
	margin: 0 auto;
	min-height: 100%;
}
#top{
	height: 71px;
	overflow: hidden;
}
#top img{
	margin-top: 19px;
}
#top form{
	float: right;
	line-height: 71px;
	color: #888;
	font-weight: bold;
	font-size: 11px;
	font-style: oblique;
}
#top form span{
	color: #fff;
}
#top form input{
	background-color: #373737;
	border: none;
	font-size: 12px;
	font-weight: bold;
	color: #f57514;
	padding: 9px 43px;
	border-radius: 2px;
	box-shadow: 1px 1px 0px 0px #151515,
				1px 1px 0px 0px #2d2d2d inset;
	margin-left: 22px;
	cursor: pointer;
}
#nav{
	height: 60px;
}
#nav ul{
	list-style: none;
	line-height: 60px;
	overflow: hidden;
}
#nav ul li{
	float: left;
	margin-right: 28px;
}
#nav ul li a{
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
}
	#nav ul li a:hover{
		background-color: #e46000;
		border-radius: 10px;
	}
#header{
	height: 300px;
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	background-position: -7px bottom;
	position: relative;
}
#text{
	width: 391px;
	position: absolute;
	right: 0px;
	top: 75px;
}
#text h1{
	padding-bottom: 20jpx;
	border-bottom: 1px solid #ef8b21;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#text p{
	font-size: 14px;
	color: #353535;
	padding-top: 13px;
	border-top: 1px solid #f89c39;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#content{

}
.line{
	border-top: 1px solid #fbfbfb;
	border-bottom: 1px solid #f0f0f0;
}
.row{
	overflow: hidden;
	margin: 50px 0;
}
.section1{
	width: 220px;
	float: left;
	margin-right: 80px;
}
.section1 h2{
	background-repeat: no-repeat;
	padding-left: 60px;
	margin-bottom: 15px;
	height: 44px;
}
#photography{
	background-image: url(../images/photography.png);
}
#business{
	background-image: url(../images/business.png);
}
#designing{
	background-image: url(../images/designing.png);
}
.section1 h2 span{
	display: block;
	font-weight: bold;
	font-size: 14px;
	color: #707070;
}
.section1 a{
	float: right;
	margin-top: 14px;
}
.section2{
	width: 400px;
	float: left;
	margin-right: 20px;
}
.section2 h3{
	margin-bottom: 16px;
}
.section2 .pics div{
	float: left;
	padding: 3px;
	border: 1px solid #ececec;
	width: 180px;
	height: 51px;
	border-radius: 2px;
}
.section2 .pics div img{
	width: 180px;
	height: 51px;
}
.latest1{
	margin-right: 20px;
	margin-bottom: 20px;
}
.latest2{
	margin-bottom: 20px;
}
.latest3{
	margin-right: 20px;
}
#footer{
	height: 68px;
	background-color: #191919;
	overflow: hidden;
}
#footercontent{
	width: 820px;
	margin: 0 auto;
	line-height: 66px;
}
#footercontent img{
	margin-right: 19px;
	vertical-align: middle;
}
#footercontent ul{
	list-style: none;
	float: right;
}
#footercontent ul li{
	float: left;
	margin-left: 10px;
}
#footercontent ul li a, 
#footer span{
	font-size: 10px;
	font-weight: bold;
	color: #4b4b4b;
}
	#footercontent ul li a:hover{
		color: #fff;
	}
.marnone{
	margin-right: 0;
}